TPC2/arquivos/
TPC3/db.json
TPC3/node_modules
TPC4/node_modules
TPC4/package-lock.json
TPC4/package.json
TPC5/node_modules
TPC5/package.json
TPC5/package-lock.json
TPC6/gFicheiros/node_modules
TPC6/gFicheiros/package.json
TPC6/gFicheiros/package-lock.json
TPC7/clav/node_modules