html
  head
    title Lista de Músicas
    link(rel='stylesheet', href='/stylesheets/w3.css')
  body
    div(class="w3-container w3-teal")
        h1 Lista de Músicas
    div
    table(class="w3-table-all")
        tr
            th Identificador
            th Título
            th Provincia
        tr
        tr
        each m in musicas
            tr
                td= m.id
                td
                    a(href='/musicas/' + m.id)= m.tit
                td= m.prov
            tr