html
    head
        title Lista de Músicas
        link(rel='stylesheet', href='/stylesheets/w3.css')
    body
        h1 Adicionar uma música
        form(class="w3-container", action="", method="POST")
            label(class="w3-tet-teal") Provincia
            input(class="w3-input w3-border w3-light-grey", type="text", name="prov")
            br
            label(class="w3-tet-teal") Localização
            input(class="w3-input w3-border w3-light-grey", type="text", name="local")
            br
            label(class="w3-tet-teal") Nome da música
            input(class="w3-input w3-border w3-light-grey", type="text", name="tit")
            br
            label(class="w3-tet-teal") Instrumentos
            input(class="w3-input w3-border w3-light-grey", type="text", name="inst")
            br
            label(class="w3-tet-teal") Ficheiro
            input(class="w3-input w3-border w3-light-grey", type="text", name="file")
            br
            label(class="w3-tet-teal") Tipo do ficheiro
            input(class="w3-input w3-border w3-light-grey", type="text", name="fileType")
            br
            label(class="w3-tet-teal") Duração da música
            input(class="w3-input w3-border w3-light-grey", type="text", name="fileType")
            br
            input(class="w3-btn w3-blue-grey", type="submit", value="Registar")
            input(class="w3-btn w3-blue-grey", type="reset", value="Limpar valores")